<launch>
    <!-- 
        Launch file follows: 
        http://gazebosim.org/tutorials?tut=ros_control#Createaroslaunchfile
    -->
    <!--arg name="model" default="$(env kbot_MODEL)" doc="model type [kbot, remo]"/-->
    <arg name="model" default="kbot" doc="model type [kbot, remo]"/>

    <!-- Load controller configurations from YAML file to parameter server -->
    <rosparam command="load"
        file="$(find kbot_control)/config/kbot.yaml"/>

    <rosparam command="load"
        file="$(find kbot_control)/config/pid.yaml"/>
    <rosparam command="load"
        file="$(find kbot_control)/config/joints.yaml"/>

    <!-- load the controllers 
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="kbot" args="joint_state_controller
                                            mobile_base_controller"/> -->


    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        ns="kbot" respawn="false" output="screen">
        <remap from="/joint_states" to="/kbot/joint_states" />
        <!-- param name="publish_frequency" type="double" value="30.0" /-->
    </node>

    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/kbot/i_robotlab/cmd_vel"/>
    </node>
</launch>